<div style="position: fixed; top: 0; right: 96px" class="fade-in">
    <div style="position: relative">
        <svg viewBox="0 0 24 24" height="96" width="96" style="
            filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
            position: absolute">
            <path d="M 24 0 V 24 Q 24 16 16 16 Q 8 16 8 8 Q 8 0 0 0 Z"
                  fill="beige"
                  class="menu-button"
                  @onclick="@Clicked"/>
        </svg>
        <div style="
            pointer-events: none;
            position: absolute;
            display: flex;
            justify-content: end;
            align-items: center;
            top: 0;
            left: 32px;
            height: 64px;
            width: 64px">
          <span class="material-symbols-rounded" style="font-variation-settings: 'opsz' 40; font-size: 40px; width: 64px; text-align: center">menu</span>  
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback Clicked { get; set; }
}