@inject IJSRuntime JsRuntime

<div style="display: flex; height: 40px">
    <div id="google-signin-button"></div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("renderGoogleButton");
    }
}