<div style="margin: 16px">
    <div class="surface" style="max-width: 400px">
        <b>Az értékeléshez jelentkezz be!</b>
        <p>Csak Eötvös-diákok értékelhetnek, ezért az iskolai (<b>eotvos-tata.org</b>) fiókodat használd!</p>
        <SignInButton/>
    </div>
</div>