<div class="scrim" @onclick="Close" sc>
    <div class="surface">
        A szavazáshoz jelentkezz be!
        <SignInButton />
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public Action Close { get; set; } = null!;

}