@inject IJSRuntime JsRuntime
@inject AuthService AuthService

<div style="display: flex; justify-content: end">
    <div class="sign-in-button" @onclick="@OnClick">
        Kijelentkezés
    </div>
</div>

@code {
    private void OnClick()
    {
        AuthService.HandleCredential(null);
        _ = JsRuntime.InvokeVoidAsync("auth.signOut");
    }
}