<div style="margin: 16px">
    <div class="surface" style="max-width: 400px">
        <b>A szavazáshoz jelentkezz be!</b>
        <p>Csak Eötvös-diákok szavazhatnak, ezért az iskolai (<b>eotvos-tata.org</b>) fiókodat használd!</p>
        <SignInButton/>
    </div>
</div>