@inject IJSRuntime JsRuntime

<div style="display: flex; justify-content: end">
    <div class="filled-button" @onclick="@OnClick">
        Bejelentkezés
    </div>
</div>

@code {
    private void OnClick()
    {
        _ = JsRuntime.InvokeVoidAsync("auth.signIn");
    }
}