<div class="scrim" @onclick="Close">
    <div style="margin: 16px">
        <div class="surface" style="max-width: 400px">
            A szavazáshoz jelentkezz be!
            <p>Csak Eötvös-diákok szavazhatnak, ezért az iskolai (eotvos-tata.org) fiókodat használd!</p>
            <SignInButton/>
        </div>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public Action Close { get; set; } = null!;

}