:root {
    --color-primary: #5b632a;
    --color-primary-hover: #494f22;
    --color-on-primary: #ffffff;
    --color-rating: #a6ae6d;
    --color-neutral: #464835;
    --color-surface: #ffffff;
    --color-surface-hover: #e4e4cc;
}

html {
    background-color: beige;
    font-family: Nunito, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    -webkit-tap-highlight-color: transparent;
    border: none;
}

.surface {
    max-width: 432px;
    margin: 0 auto;
    border-radius: 24px;
    padding: 16px;
    background-color: white;
    box-shadow: var(--shadow-5);
}

.rating-buttons.icon-group {
    display: flex;
    justify-content: start;
    align-items: center;
}

.rating-buttons icon {
    font-variation-settings: 'FILL' 0, 'wght' 300;
    cursor: pointer;
    color: var(--color-neutral);
    width: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.rating-buttons icon:hover {
    color: var(--color-rating);
}

.rating-buttons icon:active {
    font-variation-settings: 'wght' 600;
}

.rating-buttons icon.checked {
    color: var(--color-rating);
    font-variation-settings: 'FILL' 1, 'wght' 300;
}

.rating-buttons icon.checked:hover {
    color: var(--color-rating);
    font-variation-settings: 'FILL' 1, 'wght' 300;
}

.rating-buttons icon.checked:active {
    font-variation-settings: 'FILL' 1, 'wght' 600;
}

.scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.fade-in {
    animation: fade-in .69s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes translate-in {
    from {
        translate: 0 32px;
    }

    to {
        translate: 0 0;
    }
}

/* About page inline icons */
.material-symbols-rounded.inline {
    font-size: 20px;
    font-variation-settings: 'opsz' 20;
    translate: 0 4px;
}

.material-symbols-rounded {
    user-select: none;
}

/* Blazor */
#blazor-error-ui {
    background: white;
    bottom: 0;
    box-shadow: var(--shadow-3);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.loading-indicator {
    height: 4px;
    background-color: var(--color-primary);
    width: var(--blazor-load-percentage);
    position: fixed;
    bottom: 0;
}

/* FAB */
.fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 16px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    cursor: pointer;
    box-shadow: var(--shadow-3);
    transition: background-color .2s, box-shadow .2s, font-variation-settings .2s;
    font-variation-settings: 'wght' 400;
}

.fab:hover {
    background-color: var(--color-primary-hover);
    box-shadow: var(--shadow-4);
    font-variation-settings: 'wght' 600;
}

.fab:active {
    background-color: var(--color-primary-hover);
    box-shadow: var(--shadow-2);
    font-variation-settings: 'wght' 200;
}

/* Popup menu */
.menu-button path {
    fill: beige;
    cursor: pointer;
    transition: fill .2s, filter .2s;
}

.menu-button path:hover {
    fill: #e4e4cc;
}

.menu-button path:active {
    fill: #cdceb6;
}

.menu-button svg {
    filter: drop-shadow(var(--shadow-1));
    position: absolute;
    transition: filter .2s;
}

.menu-button svg:has(:hover) {
    filter: drop-shadow(var(--shadow-2));
}

.menu-button svg:has(:active) {
    filter: drop-shadow(var(--shadow-0));
}

.menu-button div {
    font-variation-settings: 'opsz' 40, 'wght' 400;
    transition: font-variation-settings .2s;
}

.menu-button svg:has(path:hover) + div {
    font-variation-settings: 'opsz' 40, 'wght' 600;
}

.menu-button svg:has(path:active) + div {
    font-variation-settings: 'opsz' 40, 'wght' 400;
}

/* Filled button */
.filled-button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 80px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color .2s;
}

.filled-button:hover {
    background-color: var(--color-primary-hover);
}

.filled-button:active {
    background-color: var(--color-primary-hover);
}

/* Text button */
.text-button {
    color: var(--color-primary);
    border-radius: 80px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color .2s;
    background-color: var(--color-surface);
}

.text-button:hover {
    background-color: var(--color-surface-hover);
}

.text-button:active {
    background-color: var(--color-surface-hover);
}

/* Menu card */
.block {
    height: 200px;
    display: block;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 64px);
    background-color: beige;
    box-shadow: var(--shadow-0);
    z-index: -1;
}

.card .collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.25s;
    color: var(--color-neutral);
}

.highlight {
    background-color: var(--color-primary);
    color: white;
    border-radius: 14px;
    padding: 2px 8px;
    margin-bottom: 4px;
    margin-right: 8px;
    display: inline-block;
}

/* Icons */
icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    
    user-select: none;
}

.icon-group {
    user-select: none;
}

star {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    
    font-variation-settings: 'FILL' 1;
    color: var(--color-rating);
    user-select: none;
}

/* Shadows */
:root {
    --shadow-0: 0 0 0 rgba(0, 0, 0, .3);
    --shadow-1: 0.33333334px 0.6666667px 1.4166666px rgba(0, 0, 0, .3);
    --shadow-2: 1px 2px 4.25px rgba(0, 0, 0, .3);
    --shadow-3: 2px 4px 8.5px rgba(0, 0, 0, .3);
    --shadow-4: 2.6666667px 5.3333335px 11.333333px rgba(0, 0, 0, .3);
    --shadow-5: 4px 8px 17px rgba(0, 0, 0, .3);
    --shadow-99: 33px 66px 140.25px rgba(0, 0, 0, .3);
}