html {
    background-color: beige;
    font-family: Nunito, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*hide scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container {
    max-width: 432px;
    margin: 0 auto;
}

.surface {
    border-radius: 16px;
    padding: 16px;
    background-color: white;
}

.rating-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.rating-button:hover {
    color: darkgoldenrod;
}

.active {
    color: darkgoldenrod;
}

.scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.no-shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, .3);
}